* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "sora", sans-serif;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
  background: #fa8bff;
  background: linear-gradient(248deg, #fa8bff 0%, #2bd2ff 35%, #2bff88 100%);
}

/* styling for search div */
.form-input {
  width: 100%;
  margin: 5px 0 20px 0;
  padding: 5px;
}

.search-header {
  font-size: 25px;
  background: #fa8bff;
}

/* styling for saved search buttons */
.search-btns {
  margin: 10px;
}

/* styling for current weather  */
.current-header {
  width: 100%;
  background: #2bd2ff;
}

.fav-uvi {
  background: rgb(126, 230, 126);
}

.moderate-uvi {
  background: yellow;
}

.extreme-uvi {
  background: red;
}
/* styling for 5 day forecast */
.five-card {
  background: #30e781;
  color: white;
  padding: 10px;
  margin: 10px;
}

.five-header {
  width: 100%;
  font-size: 20px;
  margin: 5px 0 5px 0;
  padding: 7px;
  border-bottom: 1px solid white;
}

.card {
  margin-bottom: 20px;
}
